<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="#">Home</a>
      <a href="#">User Account</a>
      <a href="#">Watchlist</a>
      <a href="#">Logout</a>
    </div>

    <div>
      <h1>Home</h1>
      <br />
      <h2>Popular Movies</h2>
      <div>
        <img src="" />
        Example movie title
        <br />
        tmdb rating: xx
      </div>
    </div>
  </body>
</html>
