<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <% if (isLoggedIn) { %>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/watchlist">Watchlist</a>
            <a href="/account/change-password">Change Password</a>
            <a href="/logout">Logout</a>
        </div>
    <% } else { %>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/watchlist">Watchlist</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
    <% } %>

    <h1>Login Page</h1>

    <% if (falseLogin) { %>
        <h2>Invalid username or password. Register if you have not!</h2>
    <% } %>

    <% if (isLocked){ %>
    <p>You have reached the maximum tries, try again in 1min</p>
    <% } else if (triesLeft !== null) { %>
        <p>Remaining tries before timeout: <%= triesLeft %></p>
    <% } %>

    <form action="/login-attempt" method="POST">
        <b><label for="usernameEntered">Username</label></b><br/>
        <input id="usernameEntered" type="text" name="usernameEntered" required>
        <br/><br/>

        <b><label for="passwordEntered">Password</label></b><br/>
        <input id="passwordEntered" type="password" name="passwordEntered" required>
        <br/><br/>

        <button type="submit" <%= isLocked ? "disabled" : "" %>>Login</button><br/><br/>

        Don't have an account? <a href="/register">Click here to register today!</a>
    </form>
</body>
</html>