<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (isLoggedIn === true) { %>
    <div class="topnav">
      <a class="active" href="../routes/home-routes.js">Home</a>
      <a href="../routes/login-routes.js">User Account</a>
      <a href="../routes/watchlist-routes.js">Watchlist</a>
      <a href="../routes/home-routes.js">Logout</a>
    </div>
    <% }  else { %>
       <div class="topnav">
          <a class="active" href="../routes/home-routes.js">Home</a>
            <a href="../routes/watchlist-routes.js">Watchlist</a>
            <a href="../routes/login-routes.js">Login</a>
            <a href="../routes/register-routes.js">Register</a>
        </div>
    <% } %>

    <h1>Login Page</h1>

    <% if (falseLogin === false) { %>
        <h2>Invalid username or password. Register if you have not !</h2>
    <% } %>

    <form action="/login-attempt" method="post">
        <b><label for="usernameEntered">Username</label></b><br/>
        <input id="usernameEntered" type="text" name="usernameEntered">
        <br/><br/>

        <b><label for="passwordEntered">Password</label></b><br/>
        <input id="passwordEntered" type="text" name="passwordEntered">
        <br/><br/>

        <button type="submit">Login</button><br/>

        Dont have an account? <a href="../routes/register-routes.js">Click Here to Register Today !</a>
    </form>

    
</body>
</html>