<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My Watchlist</h1>
    <table>
        <tr>
            <th>Movie</th>
            <th>Rating</th>
            <th>Added</th>
            <th>Watched</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td><a href="#">The Shawshank Redemption</a></td>
            <td>8.7</td>
            <td>3/9/2026</td>
            <td>Yes</td>
            <td><button type="button">Remove</button></td>
        </tr>
        <tr>
            <td><a href="#">Pulp Fiction</a></td>
            <td>8.5</td>
            <td>3/9/2026</td>
            <td>Yes</td>
            <td><button type="button">Remove</button></td>
        </tr>
        <tr>
            <td><a href="#">The Dark Knight</a></td>
            <td>8.5</td>
            <td>3/9/2026</td>
            <td>No</td>
            <td><button type="button">Remove</button></td>
        </tr>       
        <br>
        <button type="button">Browse Movies</button>      
    </table>
</body>
</html>